// Media queries
// =============================================
@mixin desktop-lg {
    @media (min-width: 1360px) and (max-width: 1439px) { @content; }
}

@mixin desktop-md {
    @media (min-width: 1200px) and (max-width: 1359px) { @content; }
}

@mixin desktop-sm {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
}

// Tablet
@mixin tablet {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
}

// Mobile
@mixin mobile {
    @media (max-width: 991px) { @content; }
}

@mixin phone-lg {
    @media (max-width: 767px) { @content; }
}

@mixin phone-md {
    @media (max-width: 599px) { @content; }
}

@mixin phone-sm {
    @media (max-width: 479px) { @content; }
}

// iPad
@mixin ipad {
    @media (device-width: 1024px) and (orientation: landscape) { @content; }
}

// Disable hovers
@mixin nohover {
    @media (device-width: 1024px) and (orientation: landscape), (max-width: 991px) { @content; }
}

// Margin & padding death
// =============================================
@mixin zero-out {
    margin: 0;
    padding: 0;
}

// Centering
// =============================================
@mixin center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-horz {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    
}

// Transition default
// $e = property to animate
// =============================================
@mixin trans-pr($e) {
    transition: $e 0.15s ease-out;
}

// Transition custom
// $d = duration, $t = time
// =============================================
// ease | ease-in | ease-out | ease-in-out | linear | cubic-bezier(n, n, n, n) (in decimals)
@mixin trans-dt($d, $t) {
    transition: all $d $t;
}

// Z-Index
// =============================================
@mixin zindex($n) {
    position: relative;
    z-index: $n;
}

// Rotate
// =============================================
@mixin rotate($r) {
    transform: rotate($r);
}

// Box shadow
// =============================================
@mixin shadow {
    box-shadow: 0 rem(1) rem(6) rgba(black, 0.15);
}

@mixin shadow-focus {
    box-shadow: 0 rem(4) rem(15) rgba(black, 0.22);
}

@mixin input-focus {
    box-shadow: 0 0 rem(4) rgba($blue-focus, 0.25);
}

// Font Awesome Icons
// ================================================================
@mixin font-awesome {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

// No blue select box on click
// =============================================
@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Conversion px to em or rem
// font-size: em(16);
// margin: rem(15) 0;
// =============================================
// Base = 16px
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}