$font: 'Roboto', Arial, sans-serif;

// Thin
.roboto-thin {
	font-family: $font;
	font-weight: 100;
}

.roboto-thin-italic {
    @extend .roboto-thin;
    font-style: italic;
}

// Light
.roboto-light {
	font-family: $font;
	font-weight: 300;
}

.roboto-light-italic {
    @extend .roboto-light;
    font-style: italic;
}

// Regular
.roboto-regular {
	font-family: $font;
    font-weight: normal;
}

.roboto-regular-italic {
    @extend .roboto-regular;
    font-style: italic;
}

// Medium
.roboto-medium {
	font-family: $font;
	font-weight: 500;
}

.roboto-medium-italic {
    @extend .roboto-medium;
    font-style: italic;
}

// Bold
.roboto-bold {
	font-family: $font;
    font-weight: bold;
}

.roboto-bold-italic {
    @extend .roboto-bold;
    font-style: italic;
}

// Extra Bold
.roboto-black {
	font-family: $font;
    font-weight: 900;
}

.roboto-black-italic {
    @extend .roboto-black;
    font-style: italic;
}

// Sizes
// =============================================
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

$unitprops: (
    12: em(12),
    13: em(13),
    14: em(14),
    15: em(15),
    16: em(16),
    17: em(17),
    18: em(18),
    19: em(19),
    20: em(20),
    22: em(22),
    24: em(24),
    26: em(26),
    28: em(28),
    30: em(30),
    32: em(32),
    36: em(36),
    38: em(38),
    40: em(40),
    42: em(42),
    46: em(46),
    48: em(48),
    50: em(50),
    52: em(52),
    56: em(56),
    58: em(58),
    60: em(60),
    62: em(62),
    66: em(66),
    68: em(68),
    70: em(70),
    72: em(72),
    76: em(76),
    78: em(78),
    80: em(80),
    82: em(82),
    86: em(86),
    88: em(88),
    90: em(90),
    92: em(92),
    96: em(96),
    98: em(98),
    100: em(100),
    110: em(110),
    120: em(120),
    130: em(130),
    140: em(140),
    150: em(150),
    160: em(160),
    170: em(170),
    180: em(180),
    190: em(190),
    200: em(200),
);

@each $i in $unitprops {
    .font-size-#{nth($i, 1)} {
        font-size: #{nth($i, 2)} !important;
    }
}

@media (max-width: 1439px) {
    @each $i in $unitprops {
        .md-font-size-#{nth($i, 1)} {
            font-size: #{nth($i, 2)} !important;
        }
    }
}

@media (max-width: 1199px) {
    @each $i in $unitprops {
        .sm-font-size-#{nth($i, 1)} {
            font-size: #{nth($i, 2)} !important;
        }
    }
}

@media (max-width: 991px) {
    @each $i in $unitprops {
        .tb-font-size-#{nth($i, 1)} {
            font-size: #{nth($i, 2)} !important;
        }
    }
}

@media (max-width: 767px) {
    @each $i in $unitprops {
        .ph-font-size-#{nth($i, 1)} {
            font-size: #{nth($i, 2)} !important;
        }
    }
}

// Alignment
// =============================================
@media (max-width: 991px) {

    .tb-text-center {
        text-align: center;
    }

    .tb-text-left {
        text-align: left;
    }

    .tb-text-right {
        text-align: right;
    }
}

@media (max-width: 767px) {
    
    .ph-text-center {
        text-align: center;
    }

    .ph-text-left {
        text-align: left;
    }

    .ph-text-right {
        text-align: right;
    }
}

// Fake line breaks
// =============================================
.linebreak {
    display: block;
}

.tb-linebreak,
.ph-linebreak {
    display: inline;
}

@include tablet {

    .linebreak {
        display: inline;
    }

    .tb-linebreak {
        display: block;
    }
}

@include phone-lg {

    .linebreak {
        display: inline;
    }

    .ph-linebreak {
        display: block;
    }
}