#breadcrumbContainer{
  background-color: #066EAA;
  color:white;
  font-size: 13px;
  padding:5px 0 10px 0;
}
#breadcrumbContainer a{
  color:white;
}

#sidenav{
  list-style: none;
  margin: 0;
}

#sidenav li{
    border-top: solid 1px #B9B9B9;
    margin: 0;
}

#sidenav a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 60px;  
    color:#58595B;
}
#sidenav a:hover{
  text-decoration: none;
  color:#0F2E4E;
}

#sidenav a:before{
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: white;
    content: "";
    top: 0;
    left: -21px;
    transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
}
#sidenav a:hover:before, #sidenav a.active:before{
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #2DA2DB;
    content: "";
    top: 0;
    left: -17px;
}
#sidenav a.active:before{
  background-color: #0F2E4E;
}



#subpageContainer {
    margin-top: 60px;  
}

#subpageContainer h1{
    font-size: 35px;
    font-weight: 700;
    border-bottom:solid 3px #1cb6bd;
    display: inline-block;      
    margin-bottom: 30px;
    padding-bottom: 15px;        
}

#subpageContainer h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;    
}


#subpageContainer p.lead-paragraph{
  color:#58595B;
  font-size: 24px;
  margin-bottom: 30px;
}


.addContList img{
  border-bottom:solid 5px #2DA2DB;
  margin-bottom: 15px;  
}

.addContList h3{
  font-size: 16px;
}

.addContList p{
  display:inline-block;
  margin-bottom:30px;
}