
/* Target only SVG images in the media library */

.wp_attachment_image {
	background: transparent;
}

.wp_attachment_image img[src$=".svg"] {
	height: auto !important;
	width: 10% !important;
}

.acf-image-uploader .image-wrap img[src$=".png"] {
	height: auto !important;
	width: 300px !important;
}

.hndle .aioseop_help_text_link::before {
	position: relative;
	top: -8px;
	right: 23px;
}

.hndle .aioseop_help_text_link span {
	position: relative;
	top: -7px;
	right: 20px;
}

