// Color variables (based on XD files)
// =================================
$gray-light: #EFF0F1;
$gray-medium: #929497;
$gray-dark: #58595B;

$blue-light: #2DA2DC;
$blue-base: #066EAA;
$blue-dark: #0F2E4E;
$blue-focus: #0074c7;

$teal-light: #1CB6BD;
$teal-base: #00868F;
$teal-dark: #00818A;

$lime-green: #AFC836;


// for errors and system warnings 
$red-base: #ff4040;
$red-watermelon: #ff4545;


// ONE MASTER MIXIN FOR CREATING MODIFIER COLOR CLASSES FOR TEXT, BACKGROUND, ETC.
$colors: (
    gray-light: $gray-light,
    gray-medium: $gray-medium,
    gray-dark: $gray-dark,
    blue-light: $blue-light,
    blue-base: $blue-base,
    blue-dark: $blue-dark,
    blue-focus: $blue-focus,
    teal-light: $teal-light,
    teal-dark: $teal-dark,
    red-base: $red-base,
    red-watermelon: $red-watermelon,
);

@mixin gen-props($prefix, $property) {

    @each $color-name,
    $color in $colors {
        .#{$prefix}-#{$color-name} {
            #{$property}: $color
        }
    }
}

// Generate all classes with the following syntax: 'text-blue-dark', 'bg-blue-base', etc.
@include gen-props('text', 'color');
@include gen-props('bg', 'background');