footer {

    ul#social-icons {
        list-style: none;
        margin: 0;

        li {
            margin-bottom: 0;
            a {
                padding: 5px 11px;

                &:hover {
                   i {
                       color: white;
                   }
                }
            }
        }
    }

    ul#menu-footer-links {
        flex-direction: row !important;
        li {
            margin-bottom: 0;
            a {
                color: white;
                padding: 5px 10px;

                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    hr {
        border-top: 1px solid white;
        width: 100%;
        opacity: .2;
        margin: 20px 0;
    }
}