// =============================================
// BMALLEN
// =============================================


.border-title {
    border-left: 5px solid $teal-base;
    margin: 5px;
    padding: 0px 5px;
}
 
.about-border {
    border: 5px solid #1cb6bd;
    border-radius: 9px;
}

.stats-num {
  font-size: 80px;
  font-weight: 800;
  color: #0f2e4e;
}

.stats-desc {
  color: #0f2e4e;
  font-weight: 800;
}

.our-reach-bg {
	background-color: #eff0f1;
}

.our-reach-stats-bg {
	background-color: #d4dbde;
}

// Homepage slider
.mySlides {
  display: none;
}

// TODO: Way too general, will affect all images on site
// let's make this a bit more specific
//img {
//  vertical-align: middle;
//}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 55px;
  padding: 128px 200px;
  position: absolute;
  bottom: -14px;
  width: 100%;
  text-align: left;
  height: 662px;
  background-color: #002e4a85;
}

.banner-title {
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 55px;
  color: white;
  padding-bottom: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

//.active {
//  background-color: #717171;
//}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.notice-txt {
  font-size: 32px;
  color: #0F2E4E;
  padding-bottom: 20px;
}

.radius-div {
  border-radius: 6px;
}

// =============================================
// JOLUDENA
// =============================================


// HERO SLIDER
.royalSlider--hero {
  width: 100%;
  height: 600px;

  .rsContent {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .slide-text {
      position: absolute;
      background: rgba(#0F2E4E, 0.6);
      width: 50%;
      height: 100%;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner-text-wrapper {
        max-width: 710px;

        h1 {
          font-size: 60px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
        }
        p {
          font-size: 20px;
        }

        a {
          margin-top: 30px;
        }
      }


    }
  }

  .rsArrow {
    height: 84px;
    bottom: 0px;
    top: auto !important;
    left: 47%;


    .rsArrowIcn {
      height: 84px;
      position: relative;
      background: none;
      top: auto;
      left: auto;
      margin: 0;

      &::after {
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: bold;
        font-size: 50px;
        //background: red;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.rsArrowLeft {
      left: 44%;

      .rsArrowIcn::after {
        content: "\f104";
      }
    }

    &.rsArrowRight {
      left: 47%;

      .rsArrowIcn::after {
        content: "\f105";
      }
    }
  }
}

// SERVICES TABS
#services-tabs {
  border-radius: 5px;
  overflow: hidden;

  .nav-pills {
    a {
      padding: 20px;
      color: white;
      border-bottom: 1px solid rgba(white, 0.3);
      border-radius: 0;

      &.active {
        color: $blue-light;
        background: none;
        border-left: 5px solid $blue-light;
      }
    }
  }

  // right column
  .tab-content {
    .tab-pane {
      position: relative;

      &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 50%;
          background: black;
          height: 100vh;
          z-index: 1;
          background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
      }

      a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;

        &::after {
          color: $teal-light;
        }
      }

    }
  }

  .service-description {
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 2;
    max-width: 50%;
  }

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    //transform: translate(-50%, -50%);
  }
}

//PROVEN SUCCESS (BEFORE/AFTER)
section#case-study {

  background: #EFF0F1 url("./images/case-study-bg.png") no-repeat right bottom;
  background-size: 1950px;

  .twentytwenty-container img {
    width: 100%;
  }
}

// A NOTICE OF VIOLATION IS SERIOUS.
section#violation-notice {
  background: url("./images/tree-bg.gif") no-repeat right center;
  background-size: 2510px;
  padding-top: 100px;
  padding-bottom: 140px;
}

// OUR REACH
section#our-reach {
  .our-reach-stats-bg {
    background: url('./images/water-drops-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 230px;
  }

  .our-markets {
    .row--market-icons {
      padding: 14px 0px;
      margin: 20px 0;
      border-top: 1px solid rgba(white, 0.3);
      border-bottom: 1px solid rgba(white, 0.3);

      .market-icon {

        i {
          color: $blue-light;
          font-size: 30px;
          margin-right: 20px;
          padding: 20px 0;
          text-align: center;
          min-width: 40px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    a.section-cta {
      color: white;
    }
  }

}


// COMPLIANCE/ARTICLES
section#compliance {
  background: $blue-base url("./images/drop-watermark.png") no-repeat top left;
  background-size: 370px;

  .card {
    border: none;

    .card-body {
      padding: 20px 30px;
    }

    .card-category {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 10px;
    }

    ul {
      margin-bottom: 0;
      margin-top: 30px;
    }

    //a {
    //  display: inline-block;
    //}
  }

  .waves-bg {
    background: url("./images/waves-bg.png") no-repeat center 168px;
    background-size: contain;
  }
}

// EMAIL SIGNUP
section#subscribe {
  background: url("./images/subscribe-bg.jpg") no-repeat right center;
  background-size: 800px !important;
}

