// =============================================
// MODIFIERS & UTILITIES 
// =============================================

// Sizes
// =============================================
// Base = 16px
$browser-context: 16;

$unitprops: (10: 10px,
    11: 11px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    16: 16px, // Base
    18: 18px,
    20: 20px,
    22: 22px,
    24: 24px,
    26: 26px,
    28: 28px,
    30: 30px,
    32: 32px,
    34: 34px,
    36: 36px,
    38: 38px,
    40: 40px,
    42: 42px,
    44: 44px,
    46: 46px,
    48: 48px,
    50: 50px,
    52: 53px,
    54: 54px,
    56: 56px,
    58: 58px,
    60: 60px,
    70: 70px,
    80: 80px
);

@each $i in $unitprops {
    .font-size-#{nth($i, 1)} {
        font-size: #{nth($i, 2)} !important;
    }
}

@media (max-width: 991px) {

    @each $i in $unitprops {
        .m-font-size-#{nth($i, 1)} {
            font-size: #{nth($i, 2)} !important;
        }
    }
}

// Margin and Padding
$unitpropsMarginPadding: (
    03: 3px,
    05: 5px,
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    55: 55px,
    60: 60px,
    65: 65px,
    70: 70px,
    75: 75px,
    80: 80px,
    85: 85px,
    90: 90px,
    95: 95px,
    100: 100px,
    105: 105px,
    110: 110px,
    115: 115px,
    120: 120px,
    125: 125px,
    150: 150px,
    175: 175px,
    200: 200px,
);

@each $i in $unitpropsMarginPadding {
    .margin-#{nth($i, 1)} {
        margin: #{nth($i, 2)} !important;
    }

    .margin-top-#{nth($i, 1)} {
        margin-top: #{nth($i, 2)} !important;
    }

    .margin-bottom-#{nth($i, 1)} {
        margin-bottom: #{nth($i, 2)} !important;
    }

    .margin-top-bottom-#{nth($i, 1)} {
        margin-top: #{nth($i, 2)} !important;
        margin-bottom: #{nth($i, 2)} !important;
    }

    .margin-left-#{nth($i, 1)} {
        margin-left: #{nth($i, 2)} !important;
    }

    .margin-right-#{nth($i, 1)} {
        margin-right: #{nth($i, 2)} !important;
    }

    .margin-left-right-#{nth($i, 1)} {
        margin-right: #{nth($i, 2)} !important;
        margin-left: #{nth($i, 2)} !important;
    }

    .padding-#{nth($i, 1)} {
        padding: #{nth($i, 2)} !important;
    }

    .padding-top-#{nth($i, 1)} {
        padding-top: #{nth($i, 2)} !important;
    }

    .padding-bottom-#{nth($i, 1)} {
        padding-bottom: #{nth($i, 2)} !important;
    }

    .padding-top-bottom-#{nth($i, 1)} {
        padding-top: #{nth($i, 2)} !important;
        padding-bottom: #{nth($i, 2)} !important;
    }

    .padding-left-#{nth($i, 1)} {
        padding-left: #{nth($i, 2)} !important;
    }

    .padding-right-#{nth($i, 1)} {
        padding-right: #{nth($i, 2)} !important;
    }

    .padding-left-right-#{nth($i, 1)} {
        padding-left: #{nth($i, 2)} !important;
        padding-right: #{nth($i, 2)} !important;
    }
}

@media (max-width: 991px) {
    
    @each $i in $unitpropsMarginPadding {
        .m-margin-#{nth($i, 1)} {
            margin: #{nth($i, 2)} !important;
        }

        .m-margin-top-#{nth($i, 1)} {
            margin-top: #{nth($i, 2)} !important;
        }

        .m-margin-bottom-#{nth($i, 1)} {
            margin-bottom: #{nth($i, 2)} !important;
        }

        .m-margin-top-bottom-#{nth($i, 1)} {
            margin-top: #{nth($i, 2)} !important;
            margin-bottom: #{nth($i, 2)} !important;
        }

        .m-margin-left-#{nth($i, 1)} {
            margin-left: #{nth($i, 2)} !important;
        }

        .m-margin-right-#{nth($i, 1)} {
            margin-right: #{nth($i, 2)} !important;
        }

        .m-margin-left-right-#{nth($i, 1)} {
            margin-right: #{nth($i, 2)} !important;
            margin-left: #{nth($i, 2)} !important;
        }

        .m-padding-#{nth($i, 1)} {
            padding: #{nth($i, 2)} !important;
        }

        .m-padding-top-#{nth($i, 1)} {
            padding-top: #{nth($i, 2)} !important;
        }

        .m-padding-bottom-#{nth($i, 1)} {
            padding-bottom: #{nth($i, 2)} !important;
        }

        .m-padding-top-bottom-#{nth($i, 1)} {
            padding-top: #{nth($i, 2)} !important;
            padding-bottom: #{nth($i, 2)} !important;
        }

        .m-padding-left-#{nth($i, 1)} {
            padding-left: #{nth($i, 2)} !important;
        }

        .m-padding-right-#{nth($i, 1)} {
            padding-right: #{nth($i, 2)} !important;
        }

        .m-padding-left-right-#{nth($i, 1)} {
            padding-left: #{nth($i, 2)} !important;
            padding-right: #{nth($i, 2)} !important;
        }
    }
}

// Z-Index position
$unitpropsZIndex: (
    01: 1,
    02: 2,
    03: 3,
    04: 4,
    05: 5,
    06: 6,
    07: 7,
    08: 8,
    09: 9,
    10: 10,
    11: 11,
    12: 12,
    13: 13,
    14: 14,
    15: 15,
    16: 16,
    17: 17,
    18: 18,
    19: 19,
    20: 20,
    40: 40,
    60: 60,
    80: 80,
    100: 100,
);

@each $i in $unitpropsZIndex {
    .z-index-#{nth($i, 1)} {
        position: relative;
        z-index: #{nth($i, 2)};
    }
}

@media (max-width: 991px) {

    @each $i in $unitpropsZIndex {
        .m-z-index-#{nth($i, 1)} {
            position: relative;
            z-index: #{nth($i, 2)} !important;
        }
    }
}

// ===================================================
// ============== MODIFIER UTILITIES =================
// ===================================================

// Modifiers
$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

// =============================================
// margin and padding
$unitpropsMarginPadding: (00: 0,
    01: 2px,
    02: 2px,
    03: 3px,
    05: 5px,
    06: 6px,
    07: 7px,
    08: 8px,
    09: 9px,
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    55: 55px,
    60: 60px,
    65: 65px,
    70: 70px,
    75: 75px,
    80: 80px,
    85: 85px,
    90: 90px,
    95: 95px,
    100: 100px,
    105: 105px,
    110: 110px,
    115: 115px,
    120: 120px,
    125: 125px,
    150: 150px,
    175: 175px,
    200: 200px,
    250: 250px,
    300: 300px,
    350: 350px,
    400: 400px,
    450: 450px,
    500: 500px,
);

@each $i in $unitpropsMarginPadding {
    .margin-#{nth($i, 1)} {
        margin: #{nth($i, 2)} !important;
    }

    .margin-top-#{nth($i, 1)} {
        margin-top: #{nth($i, 2)} !important;
    }

    .margin-bottom-#{nth($i, 1)} {
        margin-bottom: #{nth($i, 2)} !important;
    }

    .margin-top-bottom-#{nth($i, 1)} {
        margin-top: #{nth($i, 2)} !important;
        margin-bottom: #{nth($i, 2)} !important;
    }

    .margin-left-#{nth($i, 1)} {
        margin-left: #{nth($i, 2)} !important;
    }

    .margin-right-#{nth($i, 1)} {
        margin-right: #{nth($i, 2)} !important;
    }

    .margin-left-right-#{nth($i, 1)} {
        margin-right: #{nth($i, 2)} !important;
        margin-left: #{nth($i, 2)} !important;
    }

    .padding-#{nth($i, 1)} {
        padding: #{nth($i, 2)} !important;
    }

    .padding-top-#{nth($i, 1)} {
        padding-top: #{nth($i, 2)} !important;
    }

    .padding-bottom-#{nth($i, 1)} {
        padding-bottom: #{nth($i, 2)} !important;
    }

    .padding-top-bottom-#{nth($i, 1)} {
        padding-top: #{nth($i, 2)} !important;
        padding-bottom: #{nth($i, 2)} !important;
    }

    .padding-left-#{nth($i, 1)} {
        padding-left: #{nth($i, 2)} !important;
    }

    .padding-right-#{nth($i, 1)} {
        padding-right: #{nth($i, 2)} !important;
    }

    .padding-left-right-#{nth($i, 1)} {
        padding-left: #{nth($i, 2)} !important;
        padding-right: #{nth($i, 2)} !important;
    }
}

@media (max-width: 991px) {

    @each $i in $unitpropsMarginPadding {
        .m-margin-#{nth($i, 1)} {
            margin: #{nth($i, 2)} !important;
        }

        .m-margin-top-#{nth($i, 1)} {
            margin-top: #{nth($i, 2)} !important;
        }

        .m-margin-bottom-#{nth($i, 1)} {
            margin-bottom: #{nth($i, 2)} !important;
        }

        .m-margin-top-bottom-#{nth($i, 1)} {
            margin-top: #{nth($i, 2)} !important;
            margin-bottom: #{nth($i, 2)} !important;
        }

        .m-margin-left-#{nth($i, 1)} {
            margin-left: #{nth($i, 2)} !important;
        }

        .m-margin-right-#{nth($i, 1)} {
            margin-right: #{nth($i, 2)} !important;
        }

        .m-margin-left-right-#{nth($i, 1)} {
            margin-right: #{nth($i, 2)} !important;
            margin-left: #{nth($i, 2)} !important;
        }

        .m-mx-auto {
            margin-right: auto;
            margin-left: auto;
        }

        .m-padding-#{nth($i, 1)} {
            padding: #{nth($i, 2)} !important;
        }

        .m-padding-top-#{nth($i, 1)} {
            padding-top: #{nth($i, 2)} !important;
        }

        .m-padding-bottom-#{nth($i, 1)} {
            padding-bottom: #{nth($i, 2)} !important;
        }

        .m-padding-top-bottom-#{nth($i, 1)} {
            padding-top: #{nth($i, 2)} !important;
            padding-bottom: #{nth($i, 2)} !important;
        }

        .m-padding-left-#{nth($i, 1)} {
            padding-left: #{nth($i, 2)} !important;
        }

        .m-padding-right-#{nth($i, 1)} {
            padding-right: #{nth($i, 2)} !important;
        }

        .m-padding-left-right-#{nth($i, 1)} {
            padding-left: #{nth($i, 2)} !important;
            padding-right: #{nth($i, 2)} !important;
        }
    }
}

// =============================================
// z-index position
$unitpropsZIndex: (01: 1,
    02: 2,
    03: 3,
    04: 4,
    05: 5,
    06: 6,
    07: 7,
    08: 8,
    09: 9,
    10: 10,
    11: 11,
    12: 12,
    13: 13,
    14: 14,
    15: 15,
    16: 16,
    17: 17,
    18: 18,
    19: 19,
    20: 20,
    40: 40,
    60: 60,
    80: 80,
    100: 100,
);

@each $i in $unitpropsZIndex {
    .z-index-#{nth($i, 1)} {
        position: relative;
        z-index: #{nth($i, 2)};
    }
}

@media (max-width: 991px) {

    @each $i in $unitpropsZIndex {
        .m-z-index-#{nth($i, 1)} {
            position: relative;
            z-index: #{nth($i, 2)} !important;
        }
    }
}

// =============================================
// border radius
$unitpropsBorderRadius: (00: 0px,
    02: 2px,
    03: 3px,
    04: 4px,
    05: 5px,
    06: 6px,
    07: 7px,
    08: 8px,
    09: 9px,
    10: 10px,
    11: 11px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    16: 16px,
    17: 17px,
    18: 18px,
    19: 19px,
    20: 20px,
    40: 40px,
    60: 60px,
    80: 80px,
    100: 100px,
);

@each $i in $unitpropsBorderRadius {
    .border-radius-#{nth($i, 1)} {
        border-radius: #{nth($i, 2)};
    }

    .border-radius-topleft-#{nth($i, 1)} {
        border-top-left-radius: #{nth($i, 2)};
    }

    .border-radius-topright-#{nth($i, 1)} {
        border-top-right-radius: #{nth($i, 2)};
    }

    .border-radius-bottomleft-#{nth($i, 1)} {
        border-bottom-left-radius: #{nth($i, 2)};
    }

    .border-radius-bottomright-#{nth($i, 1)} {
        border-bottom-right-radius: #{nth($i, 2)};
    }
}

@media (max-width: 991px) {

    @each $i in $unitpropsBorderRadius {
        .m-border-radius-#{nth($i, 1)} {
            border-radius: #{nth($i, 2)};
        }

        .m-border-radius-topleft-#{nth($i, 1)} {
            border-top-left-radius: #{nth($i, 2)};
        }

        .m-border-radius-topright-#{nth($i, 1)} {
            border-top-right-radius: #{nth($i, 2)};
        }

        .m-border-radius-bottomleft-#{nth($i, 1)} {
            border-bottom-left-radius: #{nth($i, 2)};
        }

        .m-border-radius-bottomright-#{nth($i, 1)} {
            border-bottom-right-radius: #{nth($i, 2)};
        }
    }
}
