.fixed-top-nav-container {
    // UTILITY MENU (e.g. About Us, Contact Us, Login)

    // ====== INTIAL STATE (SCROLLED STATE CSS FURTHER BELOW) ======= //
    .nav--navbar-utility-wrapper {
        background: white;
        min-height: 90px;

        #site-logo {
            img {
                max-width: 280px;
                transition: .125s max-width ease-in-out;
            }
        }

        ul#menu-utility-nav {
            padding: 0;
            align-items: center;

            // OPEN SEARCH MENU
            &.search-active {
                li.menu-item {
                    display: none;
                }
            }

            li {
                padding: 0 20px;
                margin: 0;

                a {
                    color: $blue-dark;
                    font-weight: bold;
                    font-size: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                // search
                form {

                    // OPEN STATE
                    &.open {
                        input[type="search"] {
                            display: block;
                        }
                    }

                    // CLOSED STATE

                    input[type="search"] {
                        display: none;
                        min-width: 360px;
                    }

                    button {
                        background: none;
                        border: none;
                        font-weight: bold;
                        color: $blue-dark;
                        font-size: 14px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }


        }

        ul#menu-contact-cta {
            li {
                margin-bottom: 0;

                a {
                    color: $teal-dark;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }


    }

    #menu-utility-nav .sub-menu {
        display: none;
    }

    // PRIMARY MENU
    .nav--navbar-primary-wrapper {
        background-color: $blue-dark;
        border-bottom: 4px solid $blue-base;
        padding: 0;


        .menu-primary-nav-container {
            width: 100%;
        }

        // PRIMARY NAV ITEMS (e.g. Services, Expertise, etc.)
        ul {
            >li {
                margin-bottom: 0;
                flex-grow: 1;
                text-align: center;
                display: flex;
                position: relative;

                a {
                    color: white;
                    padding: 14px 20px;
                    flex: 1 1 auto;
                    text-decoration: none;
                    position: relative;
                    text-transform: uppercase;


                    &:hover {

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            border-bottom: 3px solid $blue-light;
                            width: 100%;
                            left: 0;
                        }

                        // + .sub-menu {
                        //     display: block;
                        // }

                    }
                }

                // Level 1 sub-menus
                ul.sub-menu {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: calc(100% + 4px);
                    background: $blue-dark;
                    padding: 0;
                    flex-direction: column;
                    z-index: 5; 
                    border-radius: 0px 0 5px 5px;
                    box-shadow: 3px 4px 21px -5px rgba(37, 35, 35, 0.67);
                    width: 230px;

                    > li {
                        text-align: left;
                        padding: 0 20px;
                        transition: .2s background ease-in-out;

                        &:hover {
                            background: $blue-light;

                            > a {
                                border-bottom: 1px solid $blue-light;
                            }
                        }

                        a {
                            
                            padding: 18px 0;
                            text-transform: none;
                            border-bottom: 1px solid rgba(white, 0.3);

                            
                        }

                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }

                        // Level 2 sub-menus (if necessary in the future)
                        ul.sub-menu {
                            left: 100%;
                            top: 0;
                            background: $blue-dark;
                            border-radius: 0 5px 5px 0;
                            
                            > li {
                                a {
                                    text-transform: none;
                                    min-width: 200px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    // reduce size of elements once scrolled
    &.scrolled {
        .nav--navbar-utility-wrapper {
            background: white;
            min-height: auto;

            #site-logo {
                img {
                    max-width: 130px;
                }
            }
        }
    }
}



