* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    overflow-y: scroll !important;
    margin: 0 !important;
}

body {
    width: 100%;
    margin: 0;
    background: white;
    font-size: 16px;
    position: relative;
    right: 0;
    padding-top: 146px; // sticky top offset
    // transition: right 0.15s $google;

    // &.open-mobile {
    //     right: rem(275);
    // }
}

a {

    @include nohover {

        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}

p {

    &:last-of-type {
        margin: 0;
    }
}

img {
    margin: 0;
    display: block;
}

sup {
    top: -0.8rem;
}

sub,
sup {
    font-size: 50%;
}

ul, ol {
  margin: 0 0 30px 0;
  padding: 0 0 0 17px;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding: 10px 0 0 34px;
}

ul li,
ol li {
  margin: 0 0 10px 0;
  padding: 0;
}

hr {
  margin: 30px 0;
  border-top: 1px solid $gray-light;
}

// Remove the 'X' from input controls in IE
// Remove the reveal from password input controls in IE
::-ms-clear,
::-ms-reveal {
    height: 0;
    width: 0;
    display: none;
}

// Remove the 'X' from search control in Chrome
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
    display: none;
}


.container {
    max-width: 1425px;
    //padding: 0 30px;

    @include desktop-md {
        max-width: 100%;
    }

    @include desktop-sm {
        max-width: 100%;
    }

    @include tablet {
        max-width: 100%;
    }

    @include phone-lg {
        max-width: 100%;
    }
}