// GLOBAL TYPOGRAPHY STYLES
// =================================================================

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: $gray-dark;
}

h1 {
	color: $blue-dark;
	font-size: 60px;
}

h2 {
    color: $blue-dark;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

h2, h3, h4, h5, h6 {
	color: $blue-dark;
	font-weight: 800;
}

h6 {
	text-transform: uppercase;
}

.heading-bottom-border {
  display: inline-block;
  border-bottom: 5px solid $teal-light;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

// BUTTONS
.btn-outline-primary {
    border-color: $teal-dark;

    &:hover {
        background-color: $teal-dark;
        border-color: $teal-dark;
        color: white !important;
    }
}

// links & buttons
a.section-cta {

  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $blue-dark;

  &.caret-right {
    padding-right: 16px;
    position: relative;

     &::after {
       font-family: 'Font Awesome 5 Free', sans-serif;
       content: '\f0da';
       position: absolute;
       top: calc(50% + 1px);
       right: 0;
       transform: translateY(-50%);
       font-size: 20px;
       color: $teal-light;
     }
  }
}

.careers-icon {
    color: #2DA2DC;
    font-size: 40px;
    margin-right: 20px;
    padding: 20px 0;
    text-align: center;
    min-width: 40px;
}
