.card {
  overflow: hidden;
  border-radius: 5px;
  border: none;

  h5 > a {
    color: $blue-dark;
  }
}

.card--insights {

  &.card--large {
    .card-img-container {
      height: 420px;

      @include mobile {
        height: 320px;
      }
    }
  }

  .card-img-container {
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  a.caret-right {
    margin-top: 20px;
    display: inline-block;
  }
}

.flip-card {
  margin-bottom: 40px;
  cursor: pointer;

  .flip-card-front {

    img {
      margin: 0 auto;
    }

    h3 {
      text-align: center;
      margin: 20px 0;
    }
  }
  .flip-card-back {
    display: none;
    padding: 20px;
  }
}