footer {

    [id=social-icons] {
        margin: 0 -8px 0 8px;
        padding: 0;

        li {
            margin: 0 8px;

            a i {
                @include trans-pr(all);

                &:hover {
                    color: white;

                    @include nohover {
                        color: $blue-light;
                    }
                }
            }
        }
    }

    [id=menu-footer-links] {

        li {
            margin: 0 -10px 0 0;

            a {
                padding: 5px 10px;
                color: white;

                &:hover {
                    color: white;
                    text-decoration: underline;

                    @include nohover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    hr {
        width: 100%;
        margin: 20px 0;
        border-top: 1px solid rgba(white, 0.2);
    }

    .footer-logo-mobile {
        display: none !important;

        img {
            width: 130px;
        }
    }

    @include mobile {
        text-align: center;

        .footer-logo-desktop {
            display: none !important;
        }

        .footer-logo-mobile {
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .footer-meta {
            -ms-flex-pack: center !important;
            justify-content: center !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }

        .social-icons-container {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        [id=menu-footer-links] {
            -ms-flex-pack: center !important;
            justify-content: center !important;
            margin: 10px 0 0 0;
        }
    }
}

.back-to-top {
    height: 35px;
    width: 35px;
    background: darken($blue-dark, 5%);
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: -1;
    cursor: pointer;
    opacity: 0;
    @include trans-pr(all);

    i {
        @include center-both;
    }

    &.visible {
        opacity: 1;
        z-index: 110;
    }

}