// Contact Form 7 alert style overrides
form {
    .wpcf7-response-output {
        padding: 20px !important;
        margin: 20px 0 !important;

    }
}

section#locked-content-modal {
    position: absolute;
    top: -200%; // start offscreen to prevent flash of form on page load
    left: 0;
    width: 100%;
    height: 100vh;
    //background: red;
    z-index: 10;
    visibility: none;

    .locked-content-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
        z-index: 1099;
        transition: .2s ease-in-out all;

    }

    .form-wrapper {
        position: absolute;
        width: 90%;
        max-width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
        opacity: 0;
        transition: .4s ease-in-out all;

        h1 {
            margin: 0 auto;

            @include mobile {
                font-size: 25px !important;
            }

        }

    }
}

// JS to add 'locked' class on document load
body.locked {
    position: fixed;
    overflow-y: hidden;
    padding-top: 0;

    .locked-content-wrapper {
        transition: .5s ease-in-out all;
        filter: blur(3px);
    }

    section#locked-content-modal {
        top: 0 !important;
        visibility: visible;

        .locked-content-bg {
            opacity: 0.9;
            //opacity: 0;
        }

        .form-wrapper {
            opacity: 1;
        }
    }

}