// Card Images
img.tall {
    height: 100% !important;
    width: auto !important;
    max-height: 100% !important;
}
img.wide {
    height: auto !important;
    width: 100% !important;
    max-width: 100% !important
}

// Main content container
// ================================

section#main-content {
    img {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
}

// ================================
[id=subpageContainer] {
    margin-top: 60px;
    margin-bottom: 60px;

    h1 {
        margin: 0;
        padding-bottom: 15px;
        font-size: 34px;
        font-weight: 700;
        border-bottom: 3px solid #1cb6bd;
        display: inline-block;

        & + p,
        & + img {
            margin-top: 30px;
        }
    }

    h2 {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;

        & + img {
            margin-bottom: 30px;
        }
    }

    p.lead-paragraph {
        margin-bottom: 30px;
        color:#58595B;
        font-size: 22px;
    }

    @include desktop-sm {
        
        .col-lg-2 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-lg-10 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    @include tablet {

        .col-lg-4 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @include mobile {
        margin-top: 30px;

        h1 {
            font-size: 26px;
        }
    
        h2 {
            font-size: 22px;
            margin: 0 0 20px 0;
        }

        h3 {
            font-size: 18px;
        }
        
        h5 {
            font-size: 16px !important;
        }

        p.lead-paragraph {
            font-size: 16px;
        }

        img {
            height: auto;
            max-width: initial;
            width: 100%;
        }
    }
}

.card-image {
    height: 230px;
    width: 100%;
    border-bottom: 5px solid #2da2db; 
    position: relative;
    overflow: hidden;

    img {
        height: 101%;
        width: auto;
        @include center-both;

        @include tablet {
            height: 110%;
            width: auto;
        }
        
        @include phone-lg {
            height: auto;
            width: 110%;
        }
    }
}

.addContList {

    h3 {
        font-size: 18px;
    }

    p {
        margin-bottom: 30px;
    }
}

.contact-us-form {
    border-right: 1px solid #d8d8d8;
}