.fixed-top-nav-container {
    
    .nav--navbar-utility-wrapper {
        height: 90px;
        padding: 0;
        background: white;
        transition: height 0.15s ease-in-out;

        [id=site-logo] img {
            width: 250px;
            transition: width 0.15s ease-in-out;
            @include center-vert;
        }

        [id=site-logo-notag] img {
            width: 250px;
            display: none;
            transition: width 0.15s ease-in-out;
            @include center-vert;
        }

        @include desktop-sm {

            [id=site-logo] img {
                width: 200px;
            }
        }

        @include mobile {
            height: 60px;
            padding: 0 15px;
            transition: none;

            [id=site-logo] {
                position: relative;

                // &::before {
                //     content: "";
                //     height: 50px;
                //     width: 50px;
                //     background: white;
                //     position: absolute;
                //     top: -24px;
                //     left: 89px;
                //     z-index: 2;
                // }
            }

            [id=site-logo] img {
                width: 130px;
                transition: none;
            }
        }

        [id=menu-utility-nav] {
            padding: 0;
            align-items: center;

            &.search-active {

                li.menu-item {
                    display: none;
                }
            }

            li {
                margin: 0;
                padding: 0 20px;

                @include desktop-sm {
                    padding: 0 10px;
                }

                a {
                    color: $blue-dark;
                    font-size: 14px;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                // search
                form {

                    // OPEN STATE
                    &.open {
                        input[type="text"] {
                            width: 360px;
                            opacity: 1;
                            padding: 10px;
                            display: block;
                        }

                        button {
                            display: none;
                        }

                        .fa-times {
                            display: inline-block;

                            @include mobile {
                                display: none !important;
                            }
                        }
                    }

                    // CLOSED STATE
                    input[type="text"] {
                        display: none;
                        width: 0;
                        opacity: 0;
                        padding: 0;
                        transition: .2s all ease-in-out;
                    }

                    button {
                        background: none;
                        border: none;
                        font-weight: bold;
                        color: $blue-dark;
                        font-size: 14px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .fa-times {
                        display: none;
                        font-size: 22px;
                        color: $blue-dark;
                        cursor: pointer;

                        @include mobile {
                            display: none !important;
                        }
                    
                    }


                }
            }
        }

        [id=menu-contact-cta] {

            li {
                margin: 0;

                a {
                    padding: 10px 20px;
                    color: $teal-dark;
                    font-size: 14px;
                    text-transform: uppercase;

                    @include desktop-sm {
                        padding: 10px;
                    }
                }
            }

            @include mobile {
                -ms-flex-direction: row !important;
                flex-direction: row !important;
                -ms-flex-pack: end !important;
                justify-content: flex-end !important;

                li:first-child {
                    display: none;
                }

                li a {
                    padding: 5px 10px;
                    color: $teal-dark;
                    font-size: 13px;
                    text-transform: uppercase;
                }
            }
        }
    }
    
    &.scrolled .nav--navbar-utility-wrapper {
        height: 60px;

        [id=site-logo] img {
            width: 130px;
            display: none;
        }
        [id=site-logo-notag] img {
            width: 130px;
            display: block;
        }

        @include mobile {
            height: 60px;
        }
    }

    [id=menu-utility-nav] .sub-menu {
        display: none;
    }

    .nav--navbar-primary-wrapper {
        padding: 0;
        background: $blue-dark;
        border-bottom: 4px solid $blue-base;

        @include mobile {
            height: 100vh;
            border: none;
            display: none;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .menu-primary-nav-container {
            width: 100%;
        }

        ul {

            li {
                display: flex;
                flex-grow: 1;
                margin-bottom: 0;
                text-align: center;
                position: relative;

                a {
                    flex: 1 1 auto;
                    padding: 14px 20px;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 100%;
                        border-bottom: 3px solid transparent;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: border-bottom 0.15s ease-out;
                    }

                    &:hover::after {
                        border-bottom: 3px solid $blue-light;
                    }

                    @include nohover {

                        &:hover::after {
                            display: none;
                        }
                    }
                }

                &.sfHover a::after,
                &.current-menu-item a::after,
                &.current-menu-parent a::after {
                    border-bottom: 3px solid $blue-light;

                    @include mobile {
                        height: 100%;
                        background: rgba(black, 0.25);
                        border: none;
                        z-index: -1;
                    }
                }

                span {
                    height: 52px;
                    width: 53px;
                    background: rgba(black, 0.25);
                    color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    cursor: pointer;
                    display: none;

                    i {
                        @include center-both;
                    }

                    @include mobile {
                        display: block;
                    }
                }

                ul.sub-menu {
                    flex-direction: column;
                    width: 100%; 
                    padding: 0;
                    background: $blue-dark;
                    box-shadow: 3px 4px 21px -5px rgba(37, 35, 35, 0.67);
                    position: absolute;
                    top: calc(100% + 4px);
                    left: 0;
                    z-index: 5; 
                    display: none;
                
                    li {
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        transition: background 0.2s ease-in-out;

                        a {
                            padding: 18px 20px;
                            border-bottom: 1px solid rgba(white, 0.3);
                            text-transform: none;

                            &::after {
                                display: none !important;
                            }
                        }

                        &:hover {
                            background: $blue-light;

                            a::after {
                                display: none !important;
                            }

                            @include nohover {
                                background: transparent;
                            }
                        }

                        &:last-child a {
                            border-bottom: none;
                        }

                        ul.sub-menu {
                            background: $blue-dark;
                            border-radius: 0 5px 5px 0;
                            top: 0;
                            left: 100%;
                            
                            li {
                                margin: 0;
                                padding: 0;
                                text-align: left;
                                transition: background 0.2s ease-in-out;

                                a {
                                    padding: 18px 20px;
                                    border-bottom: 1px solid rgba(white, 0.3);
                                    text-transform: none;
                                }

                                &:last-child a {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }

                @include mobile {
                    -ms-flex-direction: column !important;
                    flex-direction: column !important;
                    text-align: left;

                    a {
                        width: 100%;
                        border-bottom: 1px solid rgba(white, 0.25);
                        text-transform: initial;
                    }

                    ul.sub-menu {
                        width: 100%;
                        background: rgba(black, 0.25);
                        box-shadow: none;
                        position: relative;

                        li {

                            a {
                                padding: 16px 45px;
                                font-size: 14px;
                                font-weight: 300;
                            }

                            &:last-child a {
                                border-bottom: 1px solid rgba(white, 0.25);
                            }

                            &.current-menu-item a::before {
                                content: "";
                                height: 100%;
                                width: 100%;
                                background: rgba(black, 0.25);
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            span {
                                display: none;
                            }
                        }

                        ul.sub-menu {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

.fixed-top-nav-container .nav--navbar-primary-wrapper ul li:last-of-type ul.sub-menu {
    left: auto;
    right: 0;
}

.mobile-nav-actions {
    height: 55px;
    width: 100%;
    border-bottom: 3px solid $blue-light;
    position: relative;
    display: none;

    .mobile-nav-actions--icons {
        width: 65px;
        position: absolute;
        top: 12px;
        right: 15px;

        a {
            color: white;
            font-size: 20px;
        }
    }
}

.mobile-nav-utility {
    width: 100%;
    margin: 0 0 200px 0;
    display: none;

    .menu-utility-nav-container {
        width: 100%;

        ul {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;

            li {

                .fa-times {
                    @include mobile {
                        display: none;
                    }
                }

                a {
                    padding: 15px 20px 0 20px;
                    border: none;
                    font-weight: 300;
                }

                &:nth-child(1) {
                    order: 2;
                }

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(3) {
                    order: 4;
                }

                &:nth-child(4) {
                    order: 1;
                    padding: 0 20px;

                    [type=search] {
                        width: 100%;
                        margin: 0 !important;
                        font-size: 14px;
                    }

                    [type=submit] {
                        padding: 6px 12px;
                        background: $blue-light;
                        border: 1px solid $blue-light;
                        border-radius: 0 4px 4px 0;
                        color: white;
                        font-size: 14px;
                        position: absolute;
                        right: 20px;
                    }
                }
            }
        }
    }
}

.mobile-nav-trigger {
    height: 43px;
    display: none;
    position: absolute;
    top: 6px;
    left: 15px;

    .ham-icon {
        height: 19px;
        width: 23px;
        position: absolute;
        top: 12px;
        left: 0;

        span {
            height: 2px;
            width: 100%;
            background: white;
            display: block;
            opacity: 1;
            position: absolute;
            left: 0;
            transform: rotate(0deg);
            transition: all 0.15s ease-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }

            &:nth-child(4) {
                top: 16px;
            }
        }
    }

    &.open .ham-icon {

        span:nth-child(1) {
            opacity: 0;
            top: 16px;
          }

          span:nth-child(2) {
            transform: rotate(45deg);
          }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            opacity: 0;
            top: 0;
        }
    }
}

@include mobile {

    [id=navbarSupportedContent] {

        .menu-utility-nav-container {
            display: none;
        }
    }

    [id=menu-primary-nav] {
        margin: 0 0 15px 0;
    }

    .mobile-nav-actions,
    .mobile-nav-trigger,
    .mobile-nav-utility {
        display: block;
    }

    // Ugh
    .mobile-nav-utility ul li.current-menu-item a::after {
        top: 7px;
    }
}