
[id=sidenav] {
    margin: 0;
    padding: 0 0 0 17px;

    @media (min-width: 992px) {
        display: block !important;
    }

    li {
        margin: 0;
        border-top: 1px solid #b9b9b9;

        a {
            width: 100%;
            height: 100%;
            padding: 15px 0;
            color: #58595b;
            display: block;
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 5px;
                background: white;
                display: block;
                position: absolute;
                top: 0;
                left: -21px;
                @include trans-pr(all);
            }

            &:hover {
                color:#0f2e4e;
                text-decoration: none;

                &::before {
                    background: $blue-light;
                    left: -17px;
                }

                @include nohover {
                    color: #58595b;
                }
            }
        }

        &:last-of-type {
            border-bottom: 1px solid #b9b9b9;
        }

        &.current_page_item a::before {
            background: $blue-light;
            left: -17px;
        }
    }
}

.mobile-sidenav-trigger {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 10px 15px;
    background: #f2f2f2;
    box-shadow: 0 2px 1px -2px rgba(black, 0.24),
                0 2px 2px 0 rgba(black, 0.12),
                0 1px 4px 0 rgba(black, 0.12);
    border: none;
    text-align: left;
    position: relative;
    z-index: 101;
    display: none;

    i {
        @include center-vert;
        right: 15px;
    }
}

@include mobile {

    .mobile-sidenav-trigger {
        display: block;
    }

    [id=sidenav] {
        width: calc(100% - 30px);
        padding: 0;
        background: white;
        border-left: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;
        position: absolute;
        top: calc(100% - 31px);
        left: 15px;
        z-index: 100;
        display: none;

        li {

            a {
                padding: 15px;

                &::before {
                    display: none;
                }
            }

            &.current_page_item a {
                color: black;
            }
        }
    }
}