.rsContent {
    display: none;
}

.royalSlider--hero {
    height: 600px;
    width: 100%;

    @include phone-lg {
        height: 450px;
    }

    .rsImg {
        margin: 0 !important;
    }

    &.royalSlider--services {
        .slide-text {
            height: 50%;
        }

        .rsImg {
            max-width: 100%;
            height: auto !important;
        }
    }
  
    .slide-text {
        height: 100%;
        width: 50%;
        background: rgba(#0F2E4E, 0.6);
        position: absolute;
        top: 0;
        left: 0;

        .rsABlock {
            height: 100%;
            width: 100%;
        }

        h1 {
            color: white;
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;

            @include desktop-sm {
                font-size: 50px;
            }

            @include tablet {
                font-size: 30px;
            }

            @include phone-lg {
                font-size: 22px;
            }
        }

        p {
            font-size: 20px;
        }

        a {
            margin-top: 30px;
        }

        @include mobile {
            height: 100%;
            width: 100%;
            top: auto;
            bottom: 0;

            p {
                font-size: 15px;
            }

            a {
                margin-top: 20px;
            }

            .btn-lg {
                font-size: 14px
            }
        }
    }

    .slide-text-wrapper {
        @include phone-lg {
            bottom: 0;
            transform: none;
            top: auto;
            //background: rgba(15, 46, 78, 0.6);
        }
    }
  
    .rsArrow {
        height: 35px;
        top: auto !important;
        bottom: 10px;

        @include mobile {
            display: none;
        }

        .rsArrowIcn {
            height: 35px;
            margin: 0;
            background: none;
            position: relative;
            top: auto;
            left: auto;
            
            &::after {
                font-family: 'Font Awesome 5 Free';
                font-size: 30px;
                font-weight: 900;
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
            }
        }
    
        &.rsArrowLeft {
            left: 45%;

            .rsArrowIcn::after {
                content: "\f104";
            }
        }
    
        &.rsArrowRight {
            left: 47%;

            .rsArrowIcn::after {
                content: "\f105";
            }
        }
    }
}

.royalSlider--services {

    .slide-text {
        background: #0f2e4e;
    }

    .rsArrow.rsArrowLeft {
        left: 46%;
    }

    .rsArrow.rsArrowRight {
        left: 52%;
    }
}

.inner-text-wrapper,
.landing-inner-text-wrapper {
    width: 100%;
    padding: 50px;
    @include center-vert;

    @include phone-lg {
        padding: 25px;
    }

    .royalSlider--services & {
        padding: 0 30px 30px 30px;
    }
}

@include mobile {
    .mobile-banner {
        right: -375px;
        position: absolute;
    }
}