@font-face {
    font-family: "LG Smart";
    src: url(../fonts/LG_Smart_Regular.eot);
    src: url(../fonts/LG_Smart_Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Regular.woff) format("woff"), url(../fonts/LG_Smart_Regular.ttf) format("truetype"), url("../fonts/LG_Smart_Regular.svg#LG Smart") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "LG Smart";
    src: url(../fonts/LG_Smart_Regular_Italic.eot);
    src: url(../fonts/LG_Smart_Regular_Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Regular_Italic.woff) format("woff"), url(../fonts/LG_Smart_Regular_Italic.ttf) format("truetype"), url("../fonts/LG_Smart_Regular_Italic.svg#LG Smart") format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "LG Smart";
    src: url(../fonts/LG_Smart_Bold.eot);
    src: url(../fonts/LG_Smart_Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Bold.woff) format("woff"), url(../fonts/LG_Smart_Bold.ttf) format("truetype"), url("../fonts/LG_Smart_Bold.svg#LG Smart") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "LG Smart";
    src: url(../fonts/LG_Smart_Bold_Italic.eot);
    src: url(../fonts/LG_Smart_Bold_Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Bold_Italic.woff) format("woff"), url(../fonts/LG_Smart_Bold_Italic.ttf) format("truetype"), url("../fonts/LG_Smart_Bold_Italic.svg#LG Smart") format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "LG Smart SemiBold";
    src: url(../fonts/LG_Smart_SemiBold.eot);
    src: url(../fonts/LG_Smart_SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_SemiBold.woff) format("woff"), url(../fonts/LG_Smart_SemiBold.ttf) format("truetype"), url("../fonts/LG_Smart_SemiBold.svg#LG Smart SemiBold") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "LG Smart SemiBold";
    src: url(../fonts/LG_Smart_Bold.eot);
    src: url(../fonts/LG_Smart_Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Bold.woff) format("woff"), url(../fonts/LG_Smart_Bold.ttf) format("truetype"), url("../fonts/LG_Smart_Bold.svg#LG Smart SemiBold") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "LG Smart SemiBold";
    src: url(../fonts/LG_Smart_Bold_Italic.eot);
    src: url(../fonts/LG_Smart_Bold_Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Bold_Italic.woff) format("woff"), url(../fonts/LG_Smart_Bold_Italic.ttf) format("truetype"), url("../fonts/LG_Smart_Bold_Italic.svg#LG Smart SemiBold") format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "LG Smart Light";
    src: url(../fonts/LG_Smart_Light.eot);
    src: url(../fonts/LG_Smart_Light.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Light.woff) format("woff"), url(../fonts/LG_Smart_Light.ttf) format("truetype"), url("../fonts/LG_Smart_Light.svg#LG Smart Light") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "LG Smart Light";
    src: url(../fonts/LG_Smart_Regular.eot);
    src: url(../fonts/LG_Smart_Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Regular.woff) format("woff"), url(../fonts/LG_Smart_Regular.ttf) format("truetype"), url("../fonts/LG_Smart_Regular.svg#LG Smart Light") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "LG Smart Light";
    src: url(../fonts/LG_Smart_Regular_Italic.eot);
    src: url(../fonts/LG_Smart_Regular_Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/LG_Smart_Regular_Italic.woff) format("woff"), url(../fonts/LG_Smart_Regular_Italic.ttf) format("truetype"), url("../fonts/LG_Smart_Regular_Italic.svg#LG Smart Light") format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: lg-icon;
    src: url(../fonts/lg-icon/lg-icon.180719.eot?8221875e250c21edf7f3473aad5eeb1b);
    src: url(../fonts/lg-icon/lg-icon.180719.eot?#iefix) format("embedded-opentype"), url(../fonts/lg-icon/lg-icon.180719.woff?8221875e250c21edf7f3473aad5eeb1b) format("woff"), url(../fonts/lg-icon/lg-icon.180719.ttf?8221875e250c21edf7f3473aad5eeb1b) format("truetype"), url(../fonts/lg-icon/lg-icon.180719.svg?8221875e250c21edf7f3473aad5eeb1b#lg-icon) format("svg");
    font-weight: 400;
    font-style: normal
}

.container{
    max-width: 1440px !important;
}

@media (max-width: 1280px) {
    .small-contain .container { 
        max-width: 1220px !important;
    }
    footer .logo {
        max-width: 160px !important;
    }
}

@media (min-width: 992px) {
    .order-1 {
        display: none
    }
    .order-2 {
        display: none;
    }
}

.pull-right-lg {
    float: right;
}


html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body,
html {
    padding-top: 45px;
    font-family: "LG Smart";
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-size:20px;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

:focus,
a:focus,
button:focus {
    outline-width: 0;
    outline-style: none;
    outline-color: transparent;
    outline-offset: 0;
    text-decoration: none;
} 

button {
    background-color: #AB0033;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 5px 0 0 0px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color: white;
}

.signup input[type="submit"] {
    background-color: #AB0033;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 5px 0 0 10px;
    color: white;
}

.nav-inquire-trigger button {
    margin: 25px 0 0 0px;
}

.menu .nav-inquire-container a:hover{
    color:white !important;
}

.menu > ul > li.nav-inquire-container:hover{
    background-color:initial;
}

:target {
  display: block;
  position: relative;
  top: -40px; 
  /*visibility: hidden;*/
}

.resouce-container button{
    margin:0 0 0 100px;
}
.resouce-container h4{
    margin-top:0;
}

.industry-desc-container h3{
    margin: 0 0 25px 0;
}


button:hover {
    background-color: #ce003d;
}

button.bttn-white{
    color: #AB0033;    
    background-color: white;
    border: solid 2px #AB0033;
}

button.bttn-white:hover {
    color: white;
    background-color: #AB0033;
    border: solid 2px white;
}

sup {
    font-size: 60%;
}

.navbar {
    font-size: 20px;
    margin: 0;
    padding: 2px;
    border: none;
    background-color: #222;
}

.navbar-brand {
    height: 60px;
    margin: 12px 0;
    padding: 0;
}

.navbar-brand>img {
    width: 60%;
    margin: 5%;
}

.navbar-header{
    position: relative;
    z-index: 100;
    width: 80%;        
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.64);
}

.btn-outline-success {
    color: white;
    border-color: #ab0033; 
    background-color: #ab0033;
    padding: 7px 36px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.btn-outline-success:hover {
    color: white;
    border-color: #ce003d; 
    background-color: #ce003d;
    padding: 7px 36px;
}

@media (min-width: 1200px) {
    .navbar-brand>img {
        width: 70%;
        margin: 2% -2% 2% 0%;
    }
}

@media (min-width: 768px) {

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .navbar-header{
        position: static;
        z-index: auto;
        width: 302px;        
    }

}


@media (min-width: 1314px) and (max-width: 2000px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.0rem;
        padding-left: 2.0rem;
    }
}

@media (min-width: 1314px) and (max-width: 2000px) {
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        padding-right: 2.0rem;
        padding-left: 2.0rem;
        background-color: white;
        color: #222;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
}

@media (min-width: 320px) and (max-width: 1313px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media (min-width: 320px) and (max-width: 1313px) {
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        background-color: white;
        color: #222;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
}

.bg-dark {
    background-color: #222 !important;
}

.navbar-nav li a {
    line-height: 70px;
}

.navbar a {
    color: #DBDADA;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a {
    color: #DBDADA;
    background-color: inherit;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #333;
    background-color: #d8dadf;
}

.navbar-inverse .navbar-nav>li.empty-nav{
    display:none;
}
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav>li.empty-nav{
        display: block;
        width: 100px;
        height: 100px;
        margin-right: 80px;
    }    
}


.nav-thin-client-container:hover .nav-thin-client-trigger{
    color: #333;
    background-color: #d8dadf;
}

.nav-thin-client-container img{
    position: absolute;
    display: block;
    left: 0;
    top: 0;    
}

.nav-thin-client-container a{
    display: inline-block;
    width: 100%;
    height: 150px;
    color: #333;
}
.nav-thin-client-container a:hover{
    color: #AB0033;
}



.nav-thin-client-container a p{
    display: block;
    position: absolute;
    left: 190px;
    top: 35px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .nav-thin-client-container a p{
        display: block;
        position: absolute;
        left:160px;
        top: 35px;
        line-height: 20px;
    }
}

.main-nav-hover{
    color: #333 !important;
    background-color: #d8dadf !important;
}

.navbar-nav li a.has-button {
    line-height: inherit;
}

.navbar-nav li a.has-button:hover {
    color: white;
    background-color: inherit;
}

.navbar-nav li a button {
    background-color: #AB0033;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
    margin-top: 15px;
}

.navbar-nav li a button:hover {
    background-color: #ce003d;
}

.nav-thin-client-container {
    display: none;
    min-height: 100px;
    background: url(../images/bg-imaged-lx.png) repeat-x #fff;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #d8dadf 3%, #fff 15%);
    background-image: linear-gradient(to bottom, #d8dadf 3%, #fff 15%);
    line-height: 0;
    left: 0;
    position: absolute;
    z-index: 200;
    width: 100%;
    box-shadow: 0 9px 5px -6px rgba(0, 0, 0, .25);
}


.embed-container {
position: relative;
padding-top: 600px;
height: 0;
overflow: hidden;
max-width: 1000px;
width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
    .colortag {
        color: #AB0033;
       font-weight:700;
    }
    .colortag:hover { 
        font-weight:400;
    }
    .white-segment {
            padding: 50px 15px;
    }
    .img-fluid {
        margin-bottom:10px;
    }
    .sectionMargin {
        margin-top:30px;
        margin-bottom:50px;
    }



.hero {
    background-image: url("../images/hero-banner.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    height: 70%;
    font-family: "LG Smart Light";
    font-weight: 400;
    margin-bottom: 570px;
    min-height: 690px;    
}

.hero h1 {
    padding: 25px;
} 
.hero p {
    font-size:20px;
} 
.hero-content {
    margin-top: 5%;
}

.hero-content h1 {
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 17px;
}

.hero-content strong {
    font-size: 25px;
}

.hero-content p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}

.bread {
    font-size: 16px;
    color: #AB0033;
    text-transform: uppercase;
      transition-property: width;
      transition-duration: 1s;
      transition-delay: 0.1s;
}

.bread:hover {
    font-weight: 800;
}

.blog-link {
      transition-property: width;
      transition-duration: 1s;
      transition-delay: 0.1s;
}

.blog-link:hover {
    /*font-weight: 800;*/
    color: #da0041;
}

.product-featured-text {
    text-align:left;
    position: absolute;
    top: 100px;
    right: 60px;
    width: 36%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-fluid-clients {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.align-center {
    text-align: center;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

/*.intro-prod {
    height: 90px;
}*/

.product-featured-text h5{
    font-family: "LG Smart Light";
    font-size:20px;
}
.product-featured-text h5 strong{
    font-size:30px;
    font-weight: 400;    
}

.product-featured-text h5{
    font-family: "LG Smart Light";
    font-size:30px;
}
.product-featured-text h5 strong{
    font-size:50px;
    font-weight: 400;    
}
.product-featured-text h5 p{
    font-size:20px;
}

.prod-spec-margin-top{
    padding-top: 20px;    
}

/* med desktop */
@media (min-width: 1200px) and (max-width: 1439px){
    .hero {
        margin-bottom: 380px;
    }
    .product-featured-text{
        top: 30px;
        right: 60px;
        width: 46%;
    }    

    .prod-spec-margin-top{
        padding-top: 70px;    
    }

}

/* small desktop */
@media (min-width: 992px) and (max-width: 1199px){
    .hero {
        margin-bottom: 240px;
    }
    .product-featured-text{
        text-align: left;
    position: absolute;
    top: 10px;
    right: 40px;
    width: 46%;
    } 

}

/* large tablet */
@media (min-width: 768px) and (max-width: 991px){
    .hero {
        margin-bottom: 140px;
        top: -1%;
    }
    .product-featured-text{
        text-align: left;
        position: absolute;
        top: 25px;
        right: 90px;
        width: 36%;
    } 
    .product-featured-text h5 {
        font-size: 20px;
    }
    .product-featured-text h5 strong {
        font-size: 30px;
    }        
}
@media (min-width: 599px) and (max-width: 767px){
    .product-featured-text {
        text-align: center;
        position: absolute;
        top: 8px;
        right: 6%;
        width: 45%;
    }
    .product-featured-text h5 strong {
        font-size: 12px;
        font-weight: 700;
        line-height: 50%;
    }
    .h-font-home {
        font-size: 15px !important;
        line-height: 180%;
    }
    .h-font-home-2 {
        font-size: 25px !important;
    }
}
/* phone */
@media all and (max-width: 598px) and (min-width: 319px) {
    .product-featured-text {
        text-align: center;
        position: absolute;
        top: 8px;
        right: 6%;
        width: 45%;
    }
    .product-featured-text h5 strong {
        font-size: 12px;
        font-weight: 700;
        line-height: 50%;
    }
    .h-font-home {
        font-size: 12px !important;
    }
    .h-font-home-2 {
        font-size: 15px !important;
    }
}
@media (max-width: 767px){
    .hero {
        background-image: url(../images/hero-banner.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;
        height: 30%;
        font-family: "LG Smart Light";
        font-weight: 400;
        margin-bottom: 250px;
        min-height: 210px;
        top: -1%;
    }

    .hero-content h1 {
        font-size: 20px;
        margin-bottom: 15px;
        letter-spacing: 7px;
    }   

    .hero-content strong {
        font-size: 15px;
    }    
    .hero-content p {
        font-size: 15px;
        line-height: 15px;
        margin-top: 0;
    }
/*    .product-featured-text {
        text-align: center;
        position: absolute;
        top: -190px;
        right: 5%;
        width: 90%;
    }
    .product-featured-text h5 strong {
        font-size: 38px;
        font-weight: 700;
    }*/

    .lead {
        margin-bottom: 25fpx;
    }
    
    
}


/* @media (min-width: 992px) and (max-width: 1199px){
    .hero {
        margin-bottom: 130px !important;
    }
} */

/* @media (min-width: 1200px) {
    .hero {
        margin-bottom: 570px !important;
    }
} */





@media (min-width: 992px) and (max-width: 1439px){

}

.hero h1 {
    display: inline-block;
    border-left: solid 3px #AB0033;
    padding: 10px 35px 10px 45px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-mobile{
    background-image: url(../images/banner-product-laptop.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-mobile{
        height: 60%;
    }
       
}

.hero-mobile .hero-content h1{
    background-color:rgba(0, 0, 0, 0.6);

}


.hero-box{
    background-image: url(../images/banner-product-box.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-box{
        height: 60%;
    }    
}
.hero-box .hero-content h1{
    background-color:rgba(0, 0, 0, 0.6);

}

.hero-24{
    background-image: url(../images/desktop-thin-client-banner.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-24{
        height: 60%;
    }    
}
.hero-24 .hero-content h1{
    background-color:rgba(0, 0, 0, 0.6);;

}

.hero-38{
    background-image: url(../images/mobile-thin-client-banner.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-38{
        height: 60%;
    }    
}
.hero-38 .hero-content h1{
    background-color:rgba(0, 0, 0, 0.6);;

}

.hero-zero{
    background-image: url(../images/desktop-zero-client-banner.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-zero{
        height: 60%;
    }    
}

.hero-resources{
    background-image: url(../images/banner-resources.png);
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .hero-resources{
        height: 60%;
    }    
}
.hero-resources .hero-content h1{
    background-color:rgba(0, 0, 0, 0.6);;

}

.family-img img {
    width: 100%;
    height: auto;
}

.family-img {
    margin: 15px 0 0 0;
}

@media (min-width: 992px) {
    .family-img {
        /* margin: -30% 0 auto auto; */
        width: 70%;
        position: absolute;
        left: 50%;
        top: calc(100% + -345px);
        transform: translateX(-50%);
    }
}

.blog-title-head {
    color: #AB0033;
    text-transform: uppercase;
    font-family: "LG Smart";
    font-size: 30px;
    letter-spacing: 10px;
    margin: 70px 0px 20px 0px;
    line-height: 40px;}

h2 {
    color: #AB0033;
    text-transform: uppercase;
    font-family: "LG Smart Light";
    font-size: 25px;
    letter-spacing: 8px;
    line-height: 50px;
}

h3 {
    color: #AB0033;
    text-transform: uppercase;
    font-family: "LG Smart";
    font-size: 30px;
    letter-spacing: 10px;
    margin: 0px 0px 20px 0px;
    line-height: 40px;}

h4 {
    font-size: 28px;
}

hr{
    border-top: 1px solid #707070; 
}
a.textlink{
    color: #AB0033;
}
/*
a.textlink:hover {
    color: #AB0033;
    font-weight: 800;
}*/


@media (min-width: 992px) {
    h2 {
        font-size: 45px;
        padding-bottom:15px;
    }
}

.lead {
    font-family: "LG Smart Light";
    color: #292929;
    font-size:25px;
    /*text-align: justify;*/
}

.gradient-segment {
    min-height: 200px;
    padding: 50px 0;
    /*margin: 70px 0;*/
    background: -moz-linear-gradient(top, rgba(219, 218, 218, 1) 0%, rgba(249, 249, 249, 0.54) 22%, rgba(250, 250, 250, 0.54) 23%, rgba(250, 250, 250, 0.54) 77%, rgba(219, 218, 218, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(219, 218, 218, 1) 0%, rgba(249, 249, 249, 0.54) 22%, rgba(250, 250, 250, 0.54) 23%, rgba(250, 250, 250, 0.54) 77%, rgba(219, 218, 218, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(219, 218, 218, 1) 0%, rgba(249, 249, 249, 0.54) 22%, rgba(250, 250, 250, 0.54) 23%, rgba(250, 250, 250, 0.54) 77%, rgba(219, 218, 218, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdada', endColorstr='#dbdada', GradientType=0);
    /* IE6-9 */
}

.gradient-segment.product-mobile {

    margin: 0 0 0px 0;

}


.product-cta-container{
    background-color: #ab0033;
    padding: 60px 0;  
    /*margin-top: 60px;  */
}
.product-cta-container h2{
    color: white;
}

.border-right {
    border-right: none;
    margin-bottom: 60px;
}

@media (min-width: 1200px) {
    .border-right {
        border-right: solid 1px #707070;
        padding-right: 25px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {
    .padding-left {
        padding-left: 25px;
    }
    .pad-left {
        padding-left: 40px;
    }
    .pad-right {
        padding-right: 100px;
    }
}
.margin-bottom{
    margin-bottom: 0px;
}

@media (min-width: 1200px) {
    .margin-bottom{
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .margin-top{
        margin-top: 10px;
    }
    .margin-top-blog{
        margin-top: 40px;
    }
}

.featured-product-image{
    width: 100%;
    margin: -50px 0 -70px 0;    
}

.product-label-container{
    position: relative;
    background-color: #5c5b5a;
    min-height: 44px;
    padding-left: 15px;    
}



.product-label-container:hover{
    background-color: #ab0033;
}

.font-white {
    color:white;
}

.product-label-container p{
    color:white;
    line-height: 44px;
    font-size: 18px;    
}
.product-label-container img{
    width:10px;
    position: absolute;
    right: 15px;
    top: 13px;    
}

hr {
    opacity: 0.5;
}

.resource {
    margin-bottom: 40px;
}

.resource img {
    width: 80px;
    height: auto;
    float: left;
    margin: 4px 25px 0 0;
}
.resource .leftspace {
    margin-left:105px;
}

.resource a:hover {
    color: black;
}

@media (min-width: 1200px) {
    .industry-container{
        margin-left: -55px;
    }    
}



.industry {
    margin-top: 15px;

}

.industry .industry-label {
    text-align: center;
    color: #AB0033;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 8px;
}

.industry-label-p {
    text-align: center !important;
    font-size: 16px !important;
}

.industry img {
    width: 70px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.pre-footer {
    color: #666;
    background-color: #e9ecf0;
    padding: 35px 0;
}

.pre-footer p{
    font-size:14px;
    margin: 0;
}

footer {
    background-color: #333;
    color: white;
    min-height: 30px;
    padding: 45px 0;
    font-size:16px;
}

footer .logo {
    height: auto;
    margin-bottom: 20px;
    width: 75%;
    max-width:250px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size:14px;
}

footer a:hover {
    color: #ccc;
    text-decoration: none;
}




footer .social,
footer .signup,
footer .links {
    margin-bottom: 20px;
}

footer .social a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
}

footer input[type=text] {
    width: 68%;
    border-radius: 5px;
    border: none;
    padding: 4px;
    color: black;
}





/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 100%;
    margin: 0 auto;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f078";
    font-family: "FontAwesome";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 1em;
    display: block;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: "LG Smart";
}

.menu > ul > li a.nav-inquire-trigger {
    padding: 1.2em 3em;
    margin-top: 9px;    
}




.menu > ul > li:hover {
    background: #f0f0f0;
}
.menu > ul > li:hover > a{
    color:black;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: fixed;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    /* width: 300px;
    left: auto;
    padding: 10px 20px; */
}

.menu > ul > li > ul.normal-sub > li {
    /* width: 100%; */
}

.menu > ul > li > ul.normal-sub > li a {
    /* border: 0;
    padding: 1em 0; */
}

.menu{
    float: right;
}
.menu a:hover{
    color:white;
}
@media (min-width: 768px) {
    .menu a:hover{
        color:black;
    }
}

.nav-thin-client-trigger a{
    position: relative;
    text-decoration: none;
    border-bottom: none !important;
}
.nav-thin-client-trigger a p {
    position: absolute;
    top: 40px;
    left: 180px;
}

.product-h2{
    padding-left: 12px;
}

@media all and (max-width: 991px) and (min-width: 320px) {
    .hide-on-mobile {
        display: none;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Form submit & style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form.form label{
    font-size: 15px;
    font-weight: 400;
}
form.form p.submit input {
    background-color: #AB0033;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    margin: 5px 0 0 10px;
    color: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

form.form p.submit {
    margin: 30px 0;
    padding: 0;
    
}
form.form p.submit input:hover {
    background-color: #ce003d;
}
.signup input[type="submit"] {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.signup input[type="submit"]:hover {
    background-color: #ce003d;
}

.fa-twitter {
    transition: all .2s ease-in-out;
}
.fa-twitter:hover {
    transform: scale(1.1);
}

.fa-facebook-square {
    transition: all .2s ease-in-out;
}
.fa-facebook-square:hover {
    transform: scale(1.1);
}

.fa-linkedin-square {
    transition: all .2s ease-in-out;
}
.fa-linkedin-square:hover {
    transform: scale(1.1);
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
AOD Fade
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}



/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 320px) {
    .home-pad-marg {
        margin-top: 95px !important;
        padding: 15px 15px 5px 15px;
    }

}
@media all and (max-width: 991px) and (min-width: 768px) {
    .tablet-home {
      margin-top: 100px;  
    }
}

@media all and (max-width: 1439px) and (min-width: 1200px) {
    .prod-btn {
        width:50% !important;
    }
}

@media all and (max-width: 766px) and (min-width: 321px) {
    .home-pad-marg {
        margin-top: 91px !important;
        padding: 15px 15px 5px 15px;
    }
}

@media (max-width: 767px) {
    .home-pad-marg {
        margin-top: 134px;
        padding: 15px 15px 5px 15px;
    }
}

@media (max-width: 500px) {
    .tablet-home {
      margin-top: 100px !important;  
    }
}


@media all and (max-width: 1079px) and (min-width: 539px) {
    .prod-vid-pad {
        padding-bottom: 15px !important;
    }
}
@media all and (max-width: 598px) and (min-width: 319px) {
    .home-vid {
        max-width: 500px;
        width: 100%;
        height: auto;
        padding-left: 7.4px;
        padding-right: 7.4px;
        padding-bottom: 25px;
    }
    .prod-vid-pad {
        padding-bottom: 15px;
    }
    .tablet-home {
      margin-top: 45%;  
      padding-top: 38px;
    }
h3 {
    color: #AB0033;
    text-transform: uppercase;
    font-family: "LG Smart";
    font-size: 23px;
    letter-spacing: 10px;
    margin: 10px 0px 20px 0px;
    line-height: 40px;
}
    .hero-content p {
        font-size: 15px;
        line-height: 17px;
    }
    .embed-container {
        position: relative;
        padding-top: 200px !important;
    }
    .heading-pads {
        padding-top: 20px;
    }
    .heading-pads-24 {
        padding-top: 50px;
    }
}

.mobile-show {
    display: block;
}

@media all and (max-width: 5000px) and (min-width:768px) {
    .hide-desk {
        display: none;
    }
}
@media all and (max-width: 767px) and (min-width: 312px) {
    .hero-resources {
        background-position: top;
    }
    .mobile-hide {
        display: none;
    }
}

@media all and (max-width: 767px) and (min-width: 312px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.0rem !important;
        padding-left: 1.0rem !important;
    }
}

@media all and (max-width: 767px) and (min-width: 599px) {
    .tablet-home {
      margin-top: 45%;  
    }
}

@media all and (max-width: 1199px) and (min-width: 599px) {
    .home-vid {
        padding-bottom: 25px;
    }
}

@media (max-width: 1199px) {
    .menu > ul > li a {
        padding: 1.5em 2em;
    }
}


@media (max-width: 991px) {
    .menu{
        float: initial;
    }

    .menu-container {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 200px;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
        margin: 40px auto;
        background-color: #222;
    }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }

    .menu > ul > li > ul.normal-sub > li a img{
        display:none;
    }    





    .nav-thin-client-trigger a p{
        position: relative;
        top: initial !important;
        left: initial !important;
    }

    .nav-inquire-container{
        display:none !important;
    }
    

}


.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}