// GLOBAL TYPOGRAPHY STYLES
// =================================================================
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: $gray-dark;
}

h1 {
	color: $blue-dark;
	font-size: 60px;
}

h2 {
    color: $blue-dark;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

h2, h3, h4, h5, h6 {
	color: $blue-dark;
	font-weight: 800;
}

h6 {
	text-transform: uppercase;
}

.heading-bottom-border {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 5px solid $teal-light;
  display: inline-block;
}

// Buttons
.btn-outline-primary {
    border-color: $teal-dark;

    &:hover {
        background: $teal-dark;
        border-color: $teal-dark;
        color: white !important;
    }
}

a {
  color: $blue-base;

  &:hover {
    color: $blue-base;
  }
}

// links & buttons
a.section-cta {
  color: $blue-dark;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  &.caret-right {
    padding-right: 16px;
    position: relative;

     &::after {
       content: '\f0da';
       color: $teal-light;
       font-family: 'Font Awesome 5 Free';
       font-size: 19px;
       @include center-vert;
       top: 45%;
       right: 0;
     }
  }
}

.careers-icon {
    min-width: 40px;
    margin-right: 20px;
    padding: 20px 0;
    color: #2da2dc;
    font-size: 40px;
    text-align: center;
}