.border-title {
    border-left: 5px solid $teal-light;
    padding-left: 20px;
}


.about-border {
    border: 5px solid #1cb6bd;
    border-radius: 9px;

    @include tablet {
      min-height: 220px;
    }

    @include phone-lg {
      min-height: 1px;
    }
}

.stats-num {
  font-size: 80px;
  font-weight: 800;
  color: #0f2e4e;

  @include mobile {
    font-size: 40px;
  }
}

.stats-desc {
  color: #0f2e4e;
  font-weight: 800;
}

.our-reach-bg {
	background: #eff0f1;
}

.our-reach-stats-bg {
	background: #d4dbde;
}

.text {
  color: #f2f2f2;
  font-size: 55px;
  padding: 128px 200px;
  position: absolute;
  bottom: -14px;
  width: 100%;
  text-align: left;
  height: 662px;
  background: #002e4a85;
}

.banner-title {
  padding-bottom: 15px;
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 55px;
  text-transform: uppercase;
}

.numbertext {
  padding: 8px 12px;
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background 0.6s ease-out;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {

  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (max-width: 300px) {

  .text {
    font-size: 11px
  }
}

.notice-txt {
  margin: 0 0 20px 0 !important;
  color: #0f2e4e;
  font-size: 32px;

  @include mobile {
    font-size: 22px;
  }
}

.radius-div {
  border-radius: 6px;
}

// Services
// =======================================
[id=services-tabs] {
  border-radius: 5px;
  overflow: hidden;

  @include mobile {
    display: none !important;
  }

  .nav-pills {

    a {
      padding: 20px;
      color: white;
      border-bottom: 1px solid rgba(white, 0.3);
      border-radius: 0;

      &.active {
        background: none;
        border-left: 5px solid $blue-light;
        color: $blue-light;
      }
    }
  }

  .tab-content .tab-pane {
    position: relative;

    &::before {
        content: "";
        height: 100vh;
        width: 50%;
        background: linear-gradient(90deg, rgba(black, 1) 0%, rgba(black, 0) 100%);
        position: absolute;
        left: 0;
        top: 0;      
        z-index: 1;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;

      &::after {
        color: $teal-light;
      }
    }
  }

  .service-description {
    max-width: 50%;
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 2;
  }

  img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Proven success
// =======================================
[id=case-study] {
  background: #eff0f1 url(./images/case-study-bg.png) no-repeat right bottom;
  background-size: 1950px;

  .twentytwenty-container img {
    width: 100%;
  }
}

// Notice of violation
// =======================================
[id=violation-notice] {
  background-image: url(./images/tree-bg.gif);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2500px;

  @include desktop-sm {
    background-position: calc(100% + 100px) center;
  }

  @include tablet {
    background-position: right calc(100% - 10px);
    background-size: 2000px;
  }

  @include phone-lg {
    background-position: right calc(100% - 10px);
    background-size: 1200px;
  }
}

// Our reach
// =======================================
[id=our-reach] {

  .our-reach-stats-bg {
    min-height: 230px;
    background-image: url(./images/water-drops-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .our-markets .row--market-icons {
    padding: 14px 0px;
    margin: 20px 0;
    border-top: 1px solid rgba(white, 0.3);
    border-bottom: 1px solid rgba(white, 0.3);

    .market-icon {

      i {
        min-width: 40px;
        margin-right: 20px;
        padding: 20px 0;
        color: $blue-light;
        font-size: 30px;
        text-align: center;
      }

      p {
        font-size: 18px;
      }
    }
  }

  a.section-cta {
    color: white;
  }
}

[id=our-expertise] {
  background: white;

  .addContList img {
    margin: 0;
  }

  @include tablet {

    .col-lg-4 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @include phone-lg {
    
    .container {
      padding: 0 !important;
    }
  }
}

[id=our-case-studies] {

  @include tablet {

    .col-lg-4 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @include phone-lg {
    
    .container {
      padding: 0 !important;
    }
  }
}

[id=compliance] {
  background: $blue-base url(./images/drop-watermark.png) no-repeat top left;
  background-size: 370px;

  @include mobile {

    .container {
      padding: 0 !important;

      .col-lg-8 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  .card {
    border: none;

    .card-body {
      padding: 20px 30px;

      @include mobile {
        padding: 15px;
      }
    }

    .card-category {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul {
      margin-top: 30px;
      margin-bottom: 0;
    }

    a {
      //margin-top: 30px;
      display: inline-block;
    }
  }

  .waves-bg {
    background: transparent url(./images/waves-bg.png) no-repeat center calc(100% - 10px);
    background-size: contain;

    @include mobile {
      background-size: 2430px;
      text-align: center;

      .btn-lg {
        margin-top: 20px;
      }
    }
  }
}

// EMAIL SIGNUP
section#subscribe {
  background: url(./images/subscribe-bg.jpg) no-repeat right center;
  background-size: 620px;

  @media screen and (min-width: 992px) and (max-width: 1600px) {
    background-position: calc(100% + 100px) center;
    background-size: 440px;
  }
 
  @include mobile {
    background-position: calc(100% + 40px) calc(100% + 40px);
    background-size: 320px;
  }
}

span.wpcf7-list-item {
  margin: 0 0 15px 1em;
  padding: 10px 20px;
  border: 1px solid #d5d5d5;
  border-radius: 7px;
  display: -webkit-box;
  text-align: left;
}

span.wpcf7-not-valid-tip {
  margin: 10px 0 0 0;
}

.wpcf7-response-output {
  padding: 0 !important;
  border: none !important;
}

.wpcf7-validation-errors {
  display: none !important;
}

// @media all and (max-width: 492px) and (min-width: 320px) {
  
//   [id=subscribe] {
//       background: url(./images/subscribe-bg.jpg) no-repeat right center;
//       background-size: 104%;
//       background-position-x: 77px;
//       background-position-y: 279px;
//   }

//   .bg-subscribe {
//     top: -60px;
//   }
// }

// @media all and (max-width: 991px) and (min-width: 493px) {

//   [id=subscribe] {
//       background: url(./images/subscribe-bg.jpg) no-repeat right center;
//       background-size: 64%;
//       background-position-x: 438px;
//       background-position-y: 128px;
//   }

//   .bg-subscribe {
//     top: -60px;
//   }
// }

// @media (max-width: 1430px) and (min-width: 992px) {

//   [id=subscribe] {
//     background: url(./images/subscribe-bg.jpg) no-repeat right center;
//     background-size: 50%;
//     background-position-x: 623px;
//     background-position-y: 178px;
//   }
// }